.service-img {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.services {
  position: absolute;
  top: 150px;
  left: 50px;
}
.top {
  position: absolute;
  top: 30%;
  right: 10%;
  font-size: 32px;
  font-family: veniteadoremus;
}
