.nav {
  display: flex;
  background-color: transparent;
  gap: 20px;
  justify-content: end;
  padding: 20px 60px;
  
}
.nav-icon{
  cursor: pointer;
  color: white;
}
.nav-icon-active{
  color: black;
  border-bottom: 3px solid white;
}