body,
html {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: auto;
}

@font-face {
  font-family: 'venite adoremus';
  src: url('./Assests/VeniteAdoremusStraight-Yzo6v.ttf') format('ttf'),
       
}