body,
html {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: auto;
}

@font-face {
  font-family: "VeniteAdoremusStraight";
  src: url("./Assests/VeniteAdoremusStraight-Yzo6v.ttf") format("ttf");
}
@font-face {
  font-family: "veniteadoremus";
  src: url("./Assests/VeniteAdoremus-rgRBA.ttf") format("ttf");
}