.aboutgridding {
  display: grid;
  grid-template-columns: 1fr 2fr 0.25fr;
  padding-top: 50px;
}
.firstline {
  display: flex;
  justify-content: flex-end;
}
.about {
  font-size: 50px;
  text-transform: uppercase;
  font-family: VeniteAdoremusStraight;
  font-weight: bold;
  display: grid;
}
.about1 {
  display: grid;
  justify-content: end;
}
.about2 {
  display: grid;
  justify-content: end;
  align-items: end;
  color: #1c3643;
}
.about4 {
  display: grid;
  align-items: end;
  color: #ffffff;
}
.about3 {
  display: grid;
  align-items: end;
  color: #ffffff;
}
.about7 {
  margin-left: 15px;
  display: grid;
  align-items: end;
  color: #1c3643;
}
.about6 {
  display: grid;
  align-items: end;
  color: #ffffff;
  margin-left: 15px;
}
.about5 {
  display: grid;
  align-items: end;
  color: #1c3643;
}
.end {
  bottom: 150px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.imgleft {
  position: relative;
  left: 0px;
  bottom: 0;
  animation-name: aboutleft;
  animation-duration: 1s;
}
@keyframes aboutleft {
  0% {
    left: -200px;
    bottom: -200px;
  }
  100% {
    left: 0px;
    bottom: 0;
  }
}

.imgright {
  position: relative;
  right: 0px;
  bottom: 0;
  animation-name: aboutright;
  animation-duration: 1s;
}
@keyframes aboutright {
  0% {
    right: -200px;
    bottom: -200px;
  }
  100% {
    right: 0px;
    bottom: 0;
  }
}

.about1 {
  position: relative;
  animation-name: aboutr1;
  animation-duration: 1s;
  left: 0;
}
@keyframes aboutr1 {
  0% {
    left: -50px;
  }
  100% {
    left: 0;
  }
}
 