/* ---------- Base Styles ---------- */
.gradient {
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  margin: 0 30px 30px 30px;
  background-image: linear-gradient(to right, #869598, #b6c2be);
  height: 85vh;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-above {
  position: absolute;
  background-color: white;
  border-bottom-right-radius: 38px;
  height: 76px;
  width: 200px;
}

.gradient-left {
  background-color: #ffffff;
  border-bottom-right-radius: 38px;
  height: 76px;
  width: 200px;
  display: grid;
  place-items: center;
}

.gradient-right {
  border-top-right-radius: 36px;
  border-top-left-radius: 38px;
  background-image: linear-gradient(to right, #8c9b9d, #b6c2be);
  height: 76px;
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.nav-wrpaper {
  margin: 30px;
  margin-bottom: 0;
  display: flex;
  background-image: linear-gradient(
    white 0%,
    white 50%,
    #8c9b9d 50%,
    #8c9b9d 100%
  );
  border-radius: 36px 36px 0 0;
  overflow: hidden;
}

/* Navbar Links */
.pointer {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  font-family: "Venite Adoremus Regular", sans-serif;
  font-size: 20px;
  transition: background-color 0.3s;
}

.pointer:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* ---------- Responsive Adjustments ---------- */

/* Large tablets / small desktops */
@media (max-width: 1200px) {
  .gradient-right {
  border-top-right-radius: 36px;
  border-top-left-radius: 38px;
  background-image: linear-gradient(to right, #8c9b9d, #b6c2be);
  height: 76px;
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}
}

/* Tablets */
@media (max-width: 900px) {
  .gradient-right {
  border-top-right-radius: 36px;
  border-top-left-radius: 38px;
  background-image: linear-gradient(to right, #8c9b9d, #b6c2be);
  height: 76px;
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}
}

/* Mobiles */
@media (max-width: 600px) {
  .gradient-right {
  border-top-right-radius: 36px;
  border-top-left-radius: 38px;
  background-image: linear-gradient(to right, #8c9b9d, #b6c2be);
  height: 76px;
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}
}

/* Extra small screens */
@media (max-width: 400px) {
  .gradient-right {
  border-top-right-radius: 36px;
  border-top-left-radius: 38px;
  background-image: linear-gradient(to right, #8c9b9d, #b6c2be);
  height: 76px;
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}
}
